
<div class="hero">
	<div class="frosty col-xs-8 col-xs-offset-2 text-center">
		<br />
  		 <h1>Play Chess with Deep Purple</h1>
  		 <br />
 		 <h2>Anyone smell smoke?</h2>
 		 <br />
 		 <%= link_to 'Sign up!', new_user_registration_path,  :class => 'btn btn-success' %>
 		 <br /> <br />
 	</div>
</div>