<br />

<script>
    $(function() {
      $( "td" ).hover(
        function() {
          $( this ).addClass( 'highlight_this_cell' );
        }, 

        function() {
          $( this ).removeClass('highlight_this_cell' );
         });

      $( "td" ).click(
        function(event) {
          var cell_ID = $(event.target).attr('id');
          console.log(cell_ID);
          $ (this ).toggleClass ('select_this_cell' ); 
        });      
    });


    // DONE:  Toggle does this automatically. Need to add click method next to select a piece and keep it highlighted, click again deselects

    // DONE:  Then need to add ability to click on board location to select desired piece location
        // sub-issue.  ATM, you can still click on yet more squares. 

    // pull the cell id when clicked, pass that value to data    

    //  Add some logic.  If two squares are selected, trigger alert alert box to confirm move?


</script>


<table id="Board" width="700px" height="700px">
  <tr id="row_8">
    <td id="A8" class="black"></td>
    <td id="B8" class="white"></td>
    <td id="C8" class="black"></td>
    <td id="D8" class="white"></td>
    <td id="E8" class="black"></td>
    <td id="F8" class="white"></td>
    <td id="G8" class="black"></td>
    <td id="H8" class="white"></td>
  </tr>
  <tr id="row_7">
    <td id="A7" class="black"></td>
    <td id="B7" class="white"></td>
    <td id="C7" class="black"></td>
    <td id="D7" class="white"></td>
    <td id="E7" class="black"></td>
    <td id="F7" class="white"></td>
    <td id="G7" class="black"></td>
    <td id="H7" class="white"></td>
  </tr>
  <tr id="row_6"> 
    <td id="A6" class="black"></td>
    <td id="B6" class="white"></td>
    <td id="C6" class="black"></td>
    <td id="D6" class="white"></td>
    <td id="E6" class="black"></td>
    <td id="F6" class="white"></td>
    <td id="G6" class="black"></td>
    <td id="H6" class="white"></td>
  </tr>
  <tr id="row_5">
    <td id="A5" class="black"></td>
    <td id="B5" class="white"></td>
    <td id="C5" class="black"></td>
    <td id="D5" class="white"></td>
    <td id="E5" class="black"></td>
    <td id="F5" class="white"></td>
    <td id="G5" class="black"></td>
    <td id="H5" class="white"></td>
  </tr>
  <tr id="row_4">
    <td id="A4" class="black"></td>
    <td id="B4" class="white"></td>
    <td id="C4" class="black"></td>
    <td id="D4" class="white"></td>
    <td id="E4" class="black"></td>
    <td id="F4" class="white"></td>
    <td id="G4" class="black"></td>
    <td id="H4" class="white"></td>
  </tr>
  <tr id="row_3">
    <td id="A3" class="black"></td>
    <td id="B3" class="white"></td>
    <td id="C3" class="black"></td>
    <td id="D3" class="white"></td>
    <td id="E3" class="black"></td>
    <td id="F3" class="white"></td>
    <td id="G3" class="black"></td>
    <td id="H3" class="white"></td>
  </tr>
  <tr id="row_2">
    <td id="A2" class="black"></td>
    <td id="B2" class="white"></td>
    <td id="C2" class="black"></td>
    <td id="D2" class="white"></td>
    <td id="E2" class="black"></td>
    <td id="F2" class="white"></td>
    <td id="G2" class="black"></td>
    <td id="H2" class="white"></td>
  </tr>
  <tr id="row_1">
    <td id="A1" class="black"></td>
    <td id="B1" class="white"></td>
    <td id="C1" class="black"></td>
    <td id="D1" class="white"></td>
    <td id="E1" class="black"></td>
    <td id="F1" class="white"></td>
    <td id="G1" class="black"></td>
    <td id="H1" class="white"></td>
  </tr>
</table>

